.cards{
    color: #fff;
    padding: 100px;


    &__wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    &__child{
        background-image: url(/Images/Image\ \(13\).png);
        width: 500px;
        height: 250px;
        border-radius: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: black;
        font-size: 1.1rem;
        font-family: Arial, Helvetica, sans-serif;
    }


    &__child2{
        background-image: url(/Images/Image\ \(12\).png);
        width: 500px;
        height: 250px;
        border-radius: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: black;
        font-size: 1.1rem;
        font-family: Arial, Helvetica, sans-serif;
    }
}