.offer {
  background-color: #274c5b;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__text{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__parent {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  &__child {
    width: 330px;
    height: 380px;
    background-color: #f9f8f8;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }

  &__img {
    width: 270px;
    height: 310px;
    background-color: transparent;
  }

  &__btn {
    position: absolute;
    top: 13px;
    left: 16px;
    padding: 8px;
    background-color: #274c5b;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;

    &:hover {
      background-color: rgb(197, 19, 19);
    }
  }

  &__price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding: 20px 0;
  }

  &__price i {
    color: goldenrod;
  }

  &__child span {
    font-size: 15px;
    text-decoration: line-through;
  }

  &__child h4 {
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
  }

  &__child p {
    font-size: 18px;
  }
}
