.testimonial {
    background-image: url(/Images/Testimonial\ section\ bcc.png);
    background-repeat: no-repeat;
    background-position: center; 
    height: 80vh;
    // width: 10px;
    padding: 0px 100px ;


  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 800px;
    height: 80vh;
  }


  &__img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;



    img{
        border-radius: 50px;
    }
  }
}
